
// Fonts
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~vuetify/dist/vuetify.min.css';
@import '~material-design-icons-iconfont/dist/material-design-icons.css';
@import '~v-toaster/dist/v-toaster.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.body {
  font-family: 'Sawarabi Mincho', sans-serif;
}
